[DEFAULT]
ConnectionType=acceptor
SocketAcceptPort=5001
SocketReuseAddress=Y
StartTime=00:00:00
EndTime=00:00:00
FileLogPath=c:\dev
UseDataDictionary=Y
ResetOnLogon=Y
ResetOnLogout=Y
ResetOnDisconnect=Y

#FileLogPath=./logs          # Caminho onde os logs serão armazenados
LogFile=quickfix.log        # Nome do arquivo de log
LogFileSize=1000000         # Tamanho máximo do arquivo de log (em bytes)

# Opcional: Habilitar logs detalhados
LogLevel=DEBUG

[SESSION]
BeginString=FIX.4.0
SenderCompID=SIMPLE
TargetCompID=CLIENT1
FileStorePath=store
DataDictionary=../quickfixn-v1.13.0/spec/fix/FIX40.xml

[SESSION]
BeginString=FIX.4.0
SenderCompID=SIMPLE
TargetCompID=CLIENT2
FileStorePath=store
DataDictionary=../quickfixn-v1.13.0/spec/fix/FIX40.xml

[SESSION]
BeginString=FIX.4.1
SenderCompID=SIMPLE
TargetCompID=CLIENT1
FileStorePath=store
DataDictionary=../quickfixn-v1.13.0/spec/fix/FIX41.xml

[SESSION]
BeginString=FIX.4.1
SenderCompID=SIMPLE
TargetCompID=CLIENT2
FileStorePath=store
DataDictionary=../quickfixn-v1.13.0/spec/fix/FIX41.xml

[SESSION]
BeginString=FIX.4.2
SenderCompID=SIMPLE
TargetCompID=CLIENT1
FileStorePath=store
DataDictionary=../quickfixn-v1.13.0/spec/fix/FIX42.xml

[SESSION]
BeginString=FIX.4.2
SenderCompID=SIMPLE
TargetCompID=CLIENT2
FileStorePath=store
DataDictionary=../quickfixn-v1.13.0/spec/fix/FIX42.xml

[SESSION]
BeginString=FIX.4.3
SenderCompID=SIMPLE
TargetCompID=CLIENT1
FileStorePath=store
DataDictionary=../quickfixn-v1.13.0/spec/fix/FIX43.xml

[SESSION]
BeginString=FIX.4.3
SenderCompID=SIMPLE
TargetCompID=CLIENT2
FileStorePath=store
DataDictionary=../quickfixn-v1.13.0/spec/fix/FIX43.xml

[SESSION]
BeginString=FIX.4.4 
SenderCompID=SIMPLE
TargetCompID=CLIENT1
FileStorePath=store
DataDictionary=../quickfixn-v1.13.0/spec/fix/FIX44.xml

[SESSION]
BeginString=FIX.4.4
SenderCompID=SIMPLE
TargetCompID=CLIENT2
FileStorePath=store
DataDictionary=../quickfixn-v1.13.0/spec/fix/FIX44.xml